*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
p{
    color: #FFFFFF;
}

h1, h2, h3{
    color:#FFFFFF;
}
/*
#container{
    position: relative;
    display: flex;
}
#leftside{
    position:fixed;
    width: 500px;
    height:100%;
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
#rightside{
    position: absolute;
    margin-left: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    z-index: -1;
}
#game_container{
    display: grid;
    grid-template-columns:auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    padding-bottom: 50px;
}
h1{
    position:relative;
}
#game_container > .game{
    width: 300px;
    height: 150px;
    background-color:aqua;
    position:relative;
}
*/
#home{
    height:500px;
    width: 100%;
}
#home_container{
    position: absolute;
    top:25%;
    left:20%;
}
#home_container > h1{
    text-align:center;
}
#navbarNav{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
nav{
    height:50px;
}
.twitter{
    width:100px;
    height:100px;
    margin-left: 35%;
}
.email{
    margin-left: 5%;
     width:100px;
    height:100px;
}

.container{
    background-color: #0f0f0f ;
}
